---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SalutMèdic" />
<script is:inline type="module">
   import { io } from "https://cdn.socket.io/4.7.5/socket.io.esm.min.js";
   let user = prompt("Enter username: ");

   const socket = io({
      auth: {
         username: user,
         serverOffset: 0,
      },
   });

   socket.on("chat message", (msg, serverOffset, username) => {
      const item = `<li>
      <p>${msg}</p>
      <small>${username}</small>
      </li>`;
      messages.insertAdjacentHTML("beforeend", item);
      socket.auth.serverOffset = serverOffset;
      console.log(socket.auth.serverOffset);
      messages.scrollTop = messages.scrollHeight;
   });

   console.log(socket.username);
</script>
