---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SalutMèdic">
   <div
      class="flex flex-col justify-center items-center w-8/12 max-w-96 mx-auto"
   >
      <div class="pt-10 w-full">
         <header id="header" class="flex flex-col justify-between items-center">
            <h1 class="text-3xl text-center">SalutMèdic</h1>
            <picture>
               <img
                  id="logo"
                  src="/logo.jpeg"
                  alt="salutmedic"
                  class="w-10/12 mx-auto max-w-96"
                  draggable="false"
               />
            </picture>
         </header>
         <div
            id="disconnectContainer"
            class="hidden justify-around items-center"
         >
            <span class="">User</span>
            <button
               id="btnDisconnect"
               class="btn bg-purple-500 rounded-lg py-1 px-2 w-fit disabled:bg-purple-900"
               >Desconectar</button
            >
         </div>
         <form id="form" class="flex flex-col gap-2 w-full items-center">
            <label class="min-w-32 w-10/12 max-w-60 text-center">
               <h3
                  class="text-xl whitespace-nowrap overflow-hidden text-ellipsis"
               >
                  Iniciar sesión
               </h3>
               <input
                  type="text"
                  name="username"
                  placeholder="Escribe tu nombre..."
                  id="username"
                  autocomplete="off"
                  class="input w-full max-w-xs bg-slate-400 rounded-xl py-2 px-4 placeholder-black/60 disabled:opacity-75 disabled:bg-slate-300"
               />
            </label>
            <!-- <input
         type="password"
         name="username"
         placeholder="Escribe tu contraseña..."
         id="username"
         autocomplete="off"
         class="input w-full max-w-xs bg-slate-400 rounded-xl py-2 px-4 placeholder-black/60 disabled:opacity-75 disabled:bg-slate-300"
         /> -->
            <div>
               <button
                  type="submit"
                  id="btnConnect"
                  class="btn bg-purple-500 rounded-lg py-1 px-2 disabled:bg-purple-900"
                  >Conectar</button
               >
            </div>
         </form>
      </div>
      <div id="chatContainer" class="hidden">
         <h1 class="text-3xl text-center">Chat</h1>
         <section
            id="chat"
            class="bg-zinc-500 h-80 w-80 p-3 rounded-2xl overflow-y-clip overflow-x-clip scroll-smooth"
         >
            <ul id="messages" class="flex flex-col gap-1"></ul>
         </section>
         <form id="formMessage" class="flex flex-col gap-2 items-center">
            <input
               type="text"
               name="message"
               placeholder="Escribe tu mensaje"
               id="message"
               autocomplete="off"
               class="input w-full max-w-xs bg-slate-400 rounded-xl py-2 px-4 placeholder-black/60 disabled:opacity-75 disabled:bg-slate-300"
            />
            <button
               type="submit"
               id="btnSend"
               class="btn bg-purple-500 rounded-lg py-1 px-2 disabled:bg-purple-900"
               >Enviar</button
            >
         </form>
      </div>

      <script src="/js/client.js" is:inline type="module"></script>
      <!-- <script src="/js/autologin.js" is:inline></script> -->
   </div>
</Layout>
