---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SalutMèdic">
   <h1>SalutMèdic</h1>
   <picture>
      <img src="/logo.jpeg" alt="salutmedic" />
   </picture>
</Layout>
<script is:inline type="module">
   import { io } from "https://cdn.socket.io/4.7.5/socket.io.esm.min.js";
   let user = prompt("Enter username: ");

   const socket = io("http://localhost:3000", {
      auth: {
         username: user,
         serverOffset: 1,
      },
   });

   socket.on("connect", () => {
      console.log("Conectado al servidor");
   });

   socket.emit("message", "Hola");

   console.log(socket.auth.username);
</script>
