---
import { db } from "../../astro.config.mjs";

const rs = await db.execute({
    sql: "SELECT usuarioId, nombre FROM usuario WHERE email = $mail AND contraseñaHash = $pass LIMIT 1",
    args: {
        mail: "medico@mail.com",
        pass: "sergio",
    },
});
/* console.log(rs); */
---

<div id="chatContainer" class="hidden h-80 bg-zinc-400 rounded-xl w-80 mb-52 mt-8 pt-2">
    <h1 class="text-2xl text-center mb-3">Chats</h1>
    <ul id="chatlist" class="flex flex-col gap-1 bg-teal-400 h-3/4">
       <!-- <li class="bg-slate-300 px-5 py-2 flex flex-col rounded-lg">
          <p class="text-center text-white">No hay chats disponibles</p>
       </li> -->
       <li
          class="bg-slate-300 px-5 py-2 flex items-center justify-around rounded-lg"
       >
          <div class="bg-white rounded-full p-1"></div>
          <p class="text-center text-white flex-grow">Nombre</p>
       </li>
    </ul>
 </div>

<!-- <div id="chatContainer" class="hidden">
    <h1 class="text-2xl text-center mb-3">Chat</h1>
    <section
        id="chat"
        class="bg-zinc-500 h-80 w-80 p-3 rounded-2xl overflow-y-auto scroll-smooth
       shadow-black shadow-2xl"
    >
        <ul id="messages" class="flex flex-col gap-1"></ul>
    </section>
    <form action="#" id="formMessage" class="flex flex-col gap-2 items-center">
        <input
            type="text"
            name="message"
            placeholder="Escribe tu mensaje"
            id="message"
            autocomplete="off"
            class="input w-full max-w-xs bg-slate-400 rounded-xl py-2 px-4 placeholder-black/60 disabled:opacity-75 disabled:bg-slate-300"
        />
        <button
            type="submit"
            id="btnSend"
            class="btn bg-purple-500 rounded-lg py-1 px-2 disabled:bg-purple-900"
            >Enviar</button
        >
    </form>
</div> -->

<div id="chatContainerMedico" class="hidden">
    <h1 class="text-2xl text-center mb-3">Chat MEDICOS</h1>
    <section
        id="chatMedico"
        class="bg-zinc-500 h-80 w-80 p-3 rounded-2xl overflow-y-auto scroll-smooth
       shadow-black shadow-2xl"
    >
        <ul id="messagesMedico" class="flex flex-col gap-1"></ul>
    </section>
    <form
        action="#"
        id="formMessageMedico"
        class="flex flex-col gap-2 items-center"
    >
        <input
            type="text"
            name="message"
            placeholder="Escribe tu mensaje"
            id="messageMedico"
            autocomplete="off"
            class="input w-full max-w-xs bg-slate-400 rounded-xl py-2 px-4 placeholder-black/60 disabled:opacity-75 disabled:bg-slate-300"
        />
        <button
            type="submit"
            id="btnSendMedico"
            class="btn bg-purple-500 rounded-lg py-1 px-2 disabled:bg-purple-900"
            >Enviar</button
        >
    </form>
</div>

<script>
    const chats = document.getElementById("chatlist");

    fetch("/api/chats")
       .then((res) => res.json())
       .then((data) => {
          if (data.length > 0) {
             chats.innerHTML = "";
             data.forEach((chat: any) => {
                let li = document.createElement("li");
                li.classList.add(
                   "bg-slate-300",
                   "px-5",
                   "py-2",
                   "flex",
                   "items-center",
                   "justify-around",
                   "rounded-lg",
                   "cursor-pointer",
                   "hover:bg-slate-500",
                   "transition-colors"
                );

                let div = document.createElement("div");
                div.classList.add("bg-white", "rounded-full", "p-1");

                let p = document.createElement("p");
                p.classList.add("text-center", "text-white", "flex-grow");
                p.textContent = chat.nombre;

                div.innerHTML = `<svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 256 256"><path fill="currentColor" d="M230.93 220a8 8 0 0 1-6.93 4H32a8 8 0 0 1-6.92-12c15.23-26.33 38.7-45.21 66.09-54.16a72 72 0 1 1 73.66 0c27.39 8.95 50.86 27.83 66.09 54.16a8 8 0 0 1 .01 8"></path></svg>`;

                li.appendChild(div);
                li.appendChild(p);

                chats.append(li);
                // insert user into div
             });
          }
       });
 </script>